body {
	margin: 0;
	min-width: 320px;
	min-height: 100vh;
}

#root {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.zoom-in {
	transition: transform 0.3s ease-in-out;
	transform: scale(1);
}

.zoom-in:hover {
	transform: scale(1.1);
}

.pointer {
	cursor: pointer;
}

/* HTML: <div class="loader"></div> */
.loader {
	width: 45px;
	aspect-ratio: 1;
	--c: no-repeat linear-gradient(#ffffff calc(50% - 10px), #ffffff00 0 calc(50% + 10px), #ffffff 0);
	background:
		var(--c) 0% 100%,
		var(--c) 50% 100%,
		var(--c) 100% 100%;
	background-size: 20% calc(200% + 20px);
	animation: l4 1s infinite linear;
}

@keyframes l4 {
	33% {
		background-position:
			0% 50%,
			50% 100%,
			100% 100%;
	}

	50% {
		background-position:
			0% 0%,
			50% 50%,
			100% 100%;
	}

	66% {
		background-position:
			0% 0%,
			50% 0%,
			100% 50%;
	}

	100% {
		background-position:
			0% 0%,
			50% 0%,
			100% 0%;
	}
}
